.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1152px;
	max-width: 1152px;
}
.header_nav__links a {
	display: inline-block;
	align-content: center;
	height: 14vh;
	padding: 0 2vw;
	color: white;
}
.header_nav__links a:hover {
	background-color: var(--blue-third);
}
.header_img {
	height: auto;
	width: 4vw;
}
