<div class="parent_container">
	<nav class="header_nav">
		<a routerLink="/">
			<img class="header_img" src="/library.png" alt="library icon">
		</a>
		<div class="header_nav__links">
			<a routerLink="/">Home</a>
			<a routerLink="/books">Books</a>
			<a routerLink="/authors">Authors</a>
			@if (isLoggedIn()) {<a class="logout" (click)="getLogout()">Logout</a>} @else {<a routerLink="/login">Login</a>}
		</div>
		<div class="header_menu">
			<img class="header_menu__img" src="/menu.svg" alt="menu button">
		</div>
	</nav>
</div>
