.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_nav__links a {
	display: inline-block;
	align-content: center;
	height: 14vh;
	padding: 0 2vw;
	color: white;
}
.header_nav__links a:hover {
	background-color: var(--blue-third);
}
.header_nav__links > .logout {
	cursor: pointer;
}
.header_menu {
	display: none;
}
.header_img,
.header_menu__img {
	height: auto;
	width: 50px;
}
