.authors-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin: 30px 0;
}

.author-card {
	background-color: var(--blue-second);
	box-shadow: 1px 1px 2px black;
	padding: 1rem;
	border-radius: 8px;
}
.buttons_crud {
	width: 70px;
	padding: 4px;
	margin-right: 6px;
	margin-top: 6px;
}
form,
form > div {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.form_inputs {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
}
.form_inputs > input {
	height: 30px;
	width: 200px;
	padding: 3px;
}

.author_title {
	text-align: center;
}
.message {
	text-align: center;
	margin-top: 20px;
}
