/* You can add global styles to this file, and also import other style files */
:root {
	--blue-first: #154d71;
	--blue-second: #1c6ea4;
	--blue-third: #33a1e0;
	--background: #80a1ba;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: var(--background);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: large;
}
a {
	text-decoration: none;
}

.parent_container {
	width: clamp(1024px, 100vw, 1152px);
	margin: 20px 0;
}
@media (max-width: 1024px) {
	.parent_container {
		width: clamp(768px, 100vw, 1024px);
	}
}
@media (max-width: 768px) {
	.parent_container {
		width: clamp(480px, 100vw, 768px);
	}
}
